.allocate-asset-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .header-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .allocate-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  .allocate-button:hover {
    background-color: #2980b9;
  }
  
  .message {
    color: #f00;
    text-align: center;
  }